* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 80rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

header,
aside,
main,
footer,
nav {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.main-content-holder {
  display: grid;
  gap: 1rem;
}
@media (min-width: 1024px) {
  aside,
  nav {
    width: max-content;
    height: max-content;
  }
  .main-content-holder {
    display: flex;
  }
  nav {
    order: 1;
  }
  aside {
    order: 3;
  }
  main {
    order: 2;
  }
}

body {
  background-color: #eee;
  color: #111;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

header {
  display: flex;
  align-items: center;
}
header > a {
  font-size: larger;
  font-weight: bold;
}

nav,
aside {
  display: grid;
  gap: 1rem;
  white-space: nowrap;
}
main,
footer {
  display: grid;
  gap: 1rem;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
ul li,
ol li {
  margin-left: 1rem;
}
code {
  background-color: #323b51;
  color: #eee;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1rem;
}
h1 {
  font-weight: 500;
  font-size: larger;
}
h2 {
  font-weight: 500;
  font-size: large;
}
strong {
  font-weight: 500;
}
